@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #E4E4D0;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 150px auto 20px auto;
}

.container {
    position: relative;
    max-width: 700px;
    width: calc(100% / 3 - 15px);
    height: 570px;
    border-radius: 10px;
    padding: 30px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
}

form .container {
    position: relative;
    justify-content: center;
    min-height: 390px;
    margin-top: 15px;
    background-color: #f2f2f2;
}

.container .pro-image img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
}

.container .personal-info span {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.container .personal-info .info {
    font-size: 16px;
}

.container .course-details span {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .buttons button {
    border-radius: 20px;
    background-color: #AEC3AE;
    border: none;
    width: 80px;
    height: 30px;
    margin: 10px 0 10px 0;
}

.container .buttons .update-btn {
    margin-right: 16px;
}

@media (max-width: 750px) {
    .container {
        width: calc(100% / 2 - 15px);
        height: 600px;
    }
}

@media (max-width: 550px) {
    .container {
        width: 100%;
        height: 600px;
    }
}

.search {
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search img {
    width: 18px;
}

.footer {
    color: "black";
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #E4E4D0;
}

.footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search .delete-btn,.update-btn,.home-btn{
    margin-left: 10px;
}
