@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AEC3AE;
}

.container{
    position: relative;
    max-width: 430px;
    width: 100%;
    background:#fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .forms{
    display: flex;
    align-items: center;
    width: 200%;
    height: 440px;
    background-color: #fff;
}

.container .form{
    padding: 30px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.container .form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #94A684;
    border-radius: 35px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #94A684;
}

.input-field i{
    position: absolute;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
    font-size: 22px;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #94A684;
}

.input-field i.icon{
    left: 0;
}

.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px 0 4px;
    accent-color: #94A684;
}

.form a.text{
    color: cornflowerblue;
    font-size: 14px;
}

.form a{
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 26px;
    background-color: #94A684;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #AEC3AE;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}