@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AEC3AE;
}

form {
    display: flex;
    flex-wrap: wrap;
}

.container {
    position: relative;
    max-width: 900px;
    width: 500px;
    height: 570px;
    border-radius: 10px;
    padding: 30px;
    margin: 0 15px;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.1);
}

form .container {
    position: relative;
    justify-content: center;
    min-height: 390px;
    margin-top: 15px;
    background-color: #f2f2f2;
}

.container .pro-image img {
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
}

.container .personal-info span {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.container .personal-info .info {
    font-size: 16px;
}

.container .course-details span {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .buttons button {
    border-radius: 20px;
    background-color: #AEC3AE;
    border: none;
    width: 80px;
    height: 30px;
    margin: 10px 0 10px 0;
}

.container .buttons .update-btn {
    margin-right: 16px;
}