@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #AEC3AE;
}
.container{
    position: relative;
    max-width: 900px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 15px 10px rgba(0,0,0,0.1);
}
.container header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;    
}
.container header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 15px;
    background-color: #94A684;
}
.container form{
    position: relative;
    min-height: 390px;
    margin-top: 15px;
    background-color: #f2f2f2;
}
.container form .details{
    margin-top: 17px;
}
.container form .title{
    display: block;
    margin-bottom: 8px ;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.container form .fields{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-between;
}
.container form .input-fields{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px
}
.container form .student-img img{
    display: flex;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
}
.container form .student-img .upload{
    display: flex;
    width: 150px;
    background: #94A684;
    color: #fff;
    font-size: 12px;
    align-items: center;
    font-weight: 400;
    justify-content: center;
    padding: 12px;
    border-radius: 200px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
}
.container form .student-img .upload input{
    display: none;
}
.input-fields label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-fields input,select{
    outline: none;
    font-size: 10px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 35px;
    margin: 5px 0 ;
}
.input-fields input:is(:focus, :valid){
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-fields input[type="date"]{
    color: #707070;
}
.input-fields input[type="date"]:valid{
    color:#333;
}
.input-fields .sex-radio{
    display: flex;
    align-items: center;
}
.input-fields .sex-radio label{
    margin-right: 20px;
}
.container form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;    
    border: none;
    outline: none;
    color: #fff;
    background-color: #94A684;
    border-radius: 200px;
    margin: 25px 0;
    transition: all 0.3s linear;
    cursor: pointer;
}
form button:hover{
    background-color: #AEC3AE;
}

form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button{
    margin-right: 15px;
}
